<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendors/bootstrap/css/bootstrap-4.3.1/bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/simple-custom.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='vendors/icon/mdi/css/materialdesignicons.min.css')}}"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

